{% extends 'base.html' %}

{% block content%}

<h1>Tareas Pendientes</h1>


<ul>
  {% for object in objects %}
  <li>
    <h1>Tarea: </h1>
    {% if object.done %}
    <a href="{% url 'task_detail' object.id %}">
      <b style="color: green;">{{object.title}}</b>
    </a>
    {% else %}
    <a href="{% url 'task_detail' object.id %}">
      <p>{{object.title}}</p>
    </a>

    {% endif %}

    <h1>Descripción: </h1>
    <a href="{% url 'task_detail' object.id %}">
      <p>{{object.description}}</p>
    </a>
    <h1>Autor: </h1>
    <p>{{object.user.username}}</p>


  </li>
  {% endfor %}
</ul>

{% endblock %}
